name: run-python-test
on:
    push:

jobs:
    build:
        name: run-python-test
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/setup-python@v2
              with:
                python-version: 3.7
            - name: Checkout repository
              uses: actions/checkout@v2
            - name: Get submodules
              run: git submodule update --init --force --recursive --depth 1
            - name: Install packages
              run: sudo apt-get install libhdf5-dev
            - name: Install libsonata
              run: |
                git clone --recurse-submodules --shallow-submodules --depth 1 https://github.com/BlueBrain/libsonata
                cd libsonata && git tag 1337.42 && mkdir BUILD && cd BUILD && cmake -DCMAKE_INSTALL_PREFIX=/ -DEXTLIB_FROM_SUBMODULES=ON -DSONATA_PYTHON=OFF -DSONATA_TESTS=OFF -DSONATA_CXX_WARNINGS=OFF .. && make -j2 all install DESTDIR=INSTALL
              working-directory: ${{runner.workspace}}
            - name: Install libsonata python
              run: pip install .
              working-directory: ${{runner.workspace}}/libsonata
            - name: Install libsonatareport python
              uses: BSFishy/pip-action@v1
              with:
                packages: .
              env: SONATA_REPORT_SONATA_PREFIX_PATH=../libsonatareport/BUILD/INSTALL
            - name: Run tests
              run: python setup.py test
